.contentMain
  background: #fefefe
.breadcrumbs
  padding: 30px 0
  list-style: none 
  &__list
    font-size: 15px
    line-height: 19px
    display: inline-block
    padding-right: 24px
    position: relative
    margin-right: 18px
    &:before
      content: ""
      position: absolute
      top: 50%
      margin-top: -4px
      right: 0
      width: 5px
      height: 10px
      background: url('/svg/icon_breadcr.svg') no-repeat
      background-position: 50%
      background-size: cover
    &:last-child
      &:before
        display: none
  &__link
    color: #004666

.contentArticleList
  padding: 20px 0
  
h2.headerSection
  font-size: 36px
  line-height: 44px
  text-align: center
  color: #004666
  margin: 0 0 25px 0
.articleList
  padding-left: 28px
  &__item
    font-size: 18px
    line-height: 28px
    margin-bottom: 16px
    position: relative
    &:before
      content: ""
      width: 8px
      height: 8px
      border-radius: 4px
      position: absolute
      left: -28px
      top: 50%
      margin-top: -4px
      background: #006384

.sectionContent
  &_padding
    &_bottom
      padding-bottom: 45px
  &_navUnderHeader
    padding: 13px 0 13px 0
  &_navUSmallUnderHeader
    background: #ffffff
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.08)
  &_sliderPromo
    padding: 99px 0 77px 0
  &_interestRates
    padding: 17px 0 13px 0
  &_insuranceTerms
  &_news
  &_subscription
    padding: 59px 0 59px 0
    background: #707070
  &_philosofy
    padding: 18px 0 13px 0
  &_ourValues
  &_history
    padding: 22px 0 100px 0
  &_carouselNav
    background: #FFFFFF;
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.08)
  &_financialStatements
    padding: 14px 0 100px 0
  &_officialInformation
    padding: 20px 0 100px 0
  &_forInvestors
    padding: 14px 0 100px 0
  &_qualificationInfo
    padding: 21px 0 100px 0
  &_internalDocuments
    padding: 14px 0 100px 0
  &_regulatoryInfo
    padding: 20px 0 100px 0
  &_productDoc
    padding: 19px 0 56px 0

.sectionBlock
  padding: 97px 0 78px 0
  &_color
    &_gray
      background: #F2F2F2
  &_padding
    &_large
      padding: 95px 0 70px 0
  &_page
    &_main
      padding: 79px 0 61px 0
  &_newsBlock
    padding: 73px 0 99px 0
  &_voting
    padding: 28px 0 51px 0
    background: #707070
  &_listConditions
    padding: 13px 0 13px 0
  &_carouselNav
    background: #FFFFFF
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.08)

.boxDvContent
  padding-top: 36px

.dvBox
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__item
    width: 23.8%
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4)
    padding-bottom: 40px
    margin-bottom: 20px
    &_hidden
      visibility: hidden
      height: 0
      padding: 0
      margin: 0
  &__iconWrapper
    display: flex
    justify-content: center
    padding-top: 40px
    margin-bottom: 25px
  &__iconBox
    width: 100px
    height: 100px    
  &__icon
  
  &__textBox
    text-align: center
    padding: 0 31px
  &__header
    text-transform: uppercase
    font-size: 16px
    line-height: 22px
    color: #004666
    margin-bottom: 25px
  &__text
    font-size: 18px
    line-height: 22px
    color: #A8ADB3
  &:after
    content: ''
    flex: auto

.headerMiddle
  font-size: 30px
  line-height: 36px
  color: #004666
  margin: 0
  &_pos_lft
    text-align: left
    margin-bottom: 26px

.carouselService
  display: flex
  padding: 44px 0
  position: relative
  &__btnArrow
    position: absolute
    top: 50%
    margin-top: -16px
    cursor: pointer
    &_prev
      left: 0
    &_next
      right: 0
  &__nextLink
    position: absolute
    top: 50%
    right: 0
.serviceBox
  width: 25%
  &__svgWrapper
    margin-bottom: 22px
  &__svgRoundBox
    display: flex
    justify-content: center
  &__svg
  &__header
    text-align: center
    font-size: 16px
    line-height: 22px
    color: #004666
    text-transform: uppercase

.creditCalc
  display: flex
  padding: 30px 0 11px 0 
  &__buttonBnWrapper
  &__buttonBn
  &__header
    color: #004666
    font-size: 30px
    line-height: 36px
    margin-bottom: 41px
  &__article
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 27px
  &__columnArticle
    background: #F2F2F2
    padding: 57px 100px 57px 41px
    box-sizing: border-box
    width: 57%
  &__buttonBnWrapper
  &__columnImage
    width: 43%
.buttonBn
  font-size: 15px
  line-height: 19px
  text-transform: uppercase
  color: #004666
  display: inline-block
  background: #66E4EE
  padding: 13px 68px

.headerSectionSmall
  color: #4C5356
  font-size: 18px
  line-height: 28px
  text-align: center
  margin: 0
  padding: 6px 0

.newsBlock
  &__twoArticlesBoxes  
    display: flex
    justify-content: space-between
    padding: 27px 0 32px 0
    border-bottom: 1px solid #004666
  &__threeArticlesBoxes
    display: flex
    justify-content: space-between
    padding: 31px 0 32px 0
    border-bottom: 1px solid #004666
  &__twoArticlesSmallBoxes
    display: flex
    justify-content: space-between
    padding: 31px 0 32px 0
    border-bottom: 1px solid #004666
.largeArticleBox
  max-width: 518px
  &__img
    margin-bottom: 22px
  &__header
    font-size: 30px
    line-height: 36px
    color: #004666
    margin-bottom: 13px
  &__date
    font-size: 18px
    line-height: 28px
    color: #A8ADB3
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 33px
.linkMoreButton
  display: flex
  justify-content: start
  align-items: center
  &__svgBox
    width: 20px
    height: 20px
    background: #66E4EE
    display: flex
    justify-content: center
    margin-right: 10px
  &__svg
  &__link
    display: block
    font-size: 15px
    line-height: 16px
    text-transform: uppercase
    color: #004666
  &_marg
    &_auto
      margin-top: auto

.middleArticleBox
  max-width: 339px
  display: flex
  flex-direction: column
  &__img
    margin-bottom: 22px
  &__header
    font-size: 22px
    line-height: 28px
    color: #004666
    margin-bottom: 18px
  &__date
    font-size: 18px
    line-height: 28px
    color: #A8ADB3
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 59px
  &__infoBottom
    margin-top: auto
  &__infoTop
  .linkMoreButton
    margin-top: auto
  &__middle
    .middleArticleBox__text
      margin-top: auto
    .linkMoreButton
      margin-top: 0

.smallArticleBox
  max-width: 339px
  display: flex
  flex-direction: column
  &__header
    font-size: 22px
    line-height: 28px
    color: #004666
    margin-bottom: 18px
  &__date
    font-size: 18px
    line-height: 28px
    color: #A8ADB3
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 26px

.twoArticleSmallBox
  max-width: 339px
  display: flex
  flex-direction: column
  &__header
    font-size: 22px
    line-height: 28px
    color: #004666
    margin-bottom: 18px
  &__date
    font-size: 18px
    line-height: 28px
    color: #A8ADB3
    margin-bottom: 27px
  &_width
    &_large
      max-width: 698px
      display: flex
      flex-direction: column
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 6px
  &__textLink
    color: #004666
    font-size: 16px
    line-height: 20px
    text-decoration: underline
  &__textLinkBox
    margin-bottom: 30px
.moreNewsBox
  display: flex
  justify-content: center
  padding: 58px 0 78px 0
  &__btn
    font-size: 18px
    line-height: 28px
    color: #004666
    cursor: pointer
    position: relative
    padding-bottom: 11px
  &__arrow
    position: absolute
    left: 50%
    margin-left: -6px
    top: 31px
  &_news
    padding: 58px 0 98px 0
.moreViewBox
  display: flex
  justify-content: center
  padding: 42px 0 42px 0
  &__btn
    font-size: 18px
    line-height: 28px
    color: #004666
    cursor: pointer
    position: relative
    padding-bottom: 11px
  &__arrow
    position: absolute
    left: 50%
    margin-left: -6px
    top: 31px
  &_news
    padding: 58px 0 98px 0
.promoBox
  position: relative
  &__img
  &__headerBox
    position: absolute
    top: 72px
    left: 47px
    max-width: 330px
    width: 100%
  &__header
    padding: 6px 19px
    font-size: 30px
    line-height: 30px
    color: #ffffff
    display: inline-block
    background: rgba(0, 70, 102, 0.7)
    &_top
      padding: 6px 19px
    &_bottom
      padding: 0px 12px 23px 19px
      
.votingBoxHeaderWrapper
  display: flex
  justify-content: center
  margin-bottom: 32px
.votingBoxHeader
  max-width: 434px
  font-size: 30px
  line-height: 36px
  color: #ffffff
  text-align: center

.votingBox
  padding: 0 201px
  margin-bottom: 27px

.subscription

.subscriptionRow
  display: flex
  justify-content: center
  &__form
    max-width: 792px
    width: 100%
  &__input
    width: 100%
    border: 1px solid #66E4EE
    color: #66E4EE
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 58px
    margin-bottom: 8px
    font-size: 18px
    line-height: 28px
    background: #707070
    text-align: center
    margin-bottom: 26px
  &__btnWrapper
    display: flex
    justify-content: center
  &__btn
    background: #66E4EE
    font-size: 15px
    line-height: 19px
    color: #004666
    text-transform: uppercase
    padding: 13px 43px
    cursor: pointer
.votingRow
  border: 1px solid #66E4EE
  color: #66E4EE
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 58px
  margin-bottom: 8px
  cursor: pointer
  &__num
    position: absolute
    left: 24px
    top: 50%
    margin-top: -15px
    font-size: 24px
    line-height: 30px
  &__text
    font-size: 18px
    line-height: 28px

.votingButtonWrapper
  display: flex
  justify-content: center
  
.votingButton
  background: #66E4EE
  font-size: 15px
  line-height: 19px
  color: #004666
  text-transform: uppercase
  padding: 13px 84px
  cursor: pointer

.navUnderHeader
  &__list
    display: flex
    justify-content: space-between
  &__item
  &__link
    font-size: 15px
    line-height: 19px
    text-transform: uppercase
    color: #004666

.navSmallHeader
  background: #ffffff
  height: 60px
  display: flex
  align-items: center
  &__list
    display: flex
    justify-content: start
  &__item
    margin-right: 40px
  &__link
    font-size: 15px
    line-height: 19px
    color: #004666
    position: relative
    padding-bottom: 5px
    &::before
      content: ""
      position: absolute
      bottom: -1px
      left: 50%
      height: 2px
      transition: all .25s ease-in-out
      transform: translateX(-50%)
      width: 0
    &:hover
      &::before
        transition: all .25s ease-in-out
        background: #004666
        left: 50%
        transform: translateX(-50%)
        width: 100%

.sliderPromoWrapper
  display: flex
  justify-content: center
.sliderPromo
  position: relative
  &__img
    max-width: 1005px
  &__headerBox
    position: absolute
    top: 40px
    left: 32px
  &__header
    font-size: 30px
    line-height: 30px
    background: rgba(0, 70, 102, 0.7)
    padding: 6px 19px 4px 19px
    color: #ffffff
    &_top
    &_bottom
      padding: 2px 19px 8px 19px
      margin-bottom: 16px
  &__buttonBn
    padding: 13px 26px
  &__arrow
    position: absolute
    top: 50%
    cursor: pointer
    margin-top: -11px
  &__arrowPrev
    left: -36px
  &__arrowNext
    right: 0-36px

.listConditionsWrapper
  display: flex
  padding: 38px 0

.listConditions
  width: 50%
  &__item
    display: flex
    align-items: flex-start
    margin-bottom: 26px
  &__iconOuter
    width: 17%
  &__iconBox
    width: 60px
    height: 60px
    border: 2px solid #66E4EE
    border-radius: 35px
    display: flex
    justify-content: center
  &__text
    font-size: 18px
    line-height: 28px
    color: #004666
  &__textWrapper
    width: 83%
    padding-top: 17px
  &_column
    &_rght
      padding-left: 59px

.headerSectionWrapper
  display: flex
  justify-content: center
.headerSection
  &_with
    &_small
      max-width: 447px
  &_philosofy
    max-width: 857px

.interestRatesWrapper
  display: flex
  justify-content: space-between
  padding: 37px 0
.interestRate
  display: flex
  justify-content: space-between
  max-width: 431px
  &__column
    &_lft
      width: 44%
    &_rght
      width: 50%
  &__header
    display: flex
    align-items: center
    font-size: 18px
    line-height: 28px
    text-transform: uppercase
    color: #004666
    border-bottom: 4px solid #004666
    padding-bottom: 5px
    height: 56px
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
  &__row
    padding: 12px 0
    border-bottom: 1px solid #4C5356
  &_rght
    padding-right: 49px
    flex-wrap: wrap
  &__clarification
    font-size: 15px
    line-height: 19px
    color: #4C5356
    padding: 31px 0

.insuranceTerms
  &__header
    font-size: 18px
    line-height: 28px
    color:#004666
    margin: 0 0 15px 0
  &__list
    padding-left: 31px
  &__item
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 28px
    position: relative
    &::before
      content: ""
      width: 8px
      height: 8px
      position: absolute
      top: 17px
      left: 0
      margin-top: -4px
      border-radius: 4px
      background: #006384
      left: -26px
  &__valDate
    color: #4C5356
    font-size: 15px
    line-height: 19px
    padding: 5px 31px
    margin-bottom: 55px
  &__article
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 25px
.customLinkWrapper
  display: flex
  justify-content: flex-start
.customLink
  font-size: 18px
  line-height: 28px
  color: #004666
  position: relative
  transition: all .25s ease-in-out
  &::before
    content: ""
    position: absolute
    bottom: 2px
    left: 50%
    right: 0
    height: 2px
    background: #004666
    transform: translateX(-50%)
    width: 100%
    transition: all .25s ease-in-out
  &:hover
    transition: all .25s ease-in-out
    &::before
      width: 0
      left: 50%
      transform: translateX(-50%)

.ourValuesWrapper
  padding: 26px 0 44px 0
.ourValues
  display: flex
  border-bottom: 1px solid #004666
  padding-bottom: 55px
  margin-bottom: 42px
  &:last-child
    border: none
    padding-bottom: 55px
    margin-bottom: 0
  &__colIcon
    width: 7%
  &__iconBox
    width: 60px
    height: 60px
    background: #004666
    border-radius: 30px
    color: #ffffff
    display: flex
    justify-content: center
  &__icon
    font-size: 36px
    line-height: 32px
    align-self: center
    margin-top: -5px
  &__colName
    width: 33%
    padding-top: 19px
  &__name
    font-size: 22px
    line-height: 22px
    color: #004666
    text-transform: uppercase
  &__colArticle
    width: 60%
    padding-top: 12px
  &__article
    font-size: 18px
    line-height: 28px
    color: #4C5356

.history
  background: #F2F2F2
  padding: 78px 80px 1px 80px
  &__header
    font-size: 30px
    line-height: 36px
    color: #004666
    margin: 0
  &__rowsWrapper
    padding: 71px 0 18px 0
  &__row
    display: flex
    padding-bottom: 51px
    &:last-child
      .history__iconOuter
        &::before
          display: none
  &__numCol
    width: 9%
    padding-top: 7px
  &__num
    font-size: 30px
    line-height: 36px
    color: #004666
  &__iconCol
    width: 13%
    position: relative
    &::before
      content: ""
      width: 2px
      height: 100%
      position: absolute
      top: 60px
      left: 30px
      margin-left: -1px
      background: #004666
  &__iconOuter
    background: #FFFFFF
    border: 1px solid #66E4EE
    border-radius: 30px
    position: relative
    width: 60px
    height: 60px
  &__iconInner
    position: absolute
    top: 50%
    left: 50%
    margin-top: -11px
    margin-left: -11px
    background: #004666
    width: 22px
    height: 22px
    border-radius: 11px
  &__articleCol
    width: 78%
    padding-top: 10px
  &__article
    font-size: 18px
    line-height: 28px
    color: #4C5356

.carouselNav
  &__list
    height: 60px
    display: flex
    align-items: center
    justify-content: flex-start
  &__item
    margin-right: 32px
  &__link
    font-size: 15px
    line-height: 19px
    color: #004666
    position: relative
    &::before
      content: ""
      position: absolute
      bottom: -6px
      left: 50%
      height: 2px
      transition: all .25s ease-in-out
      transform: translateX(-50%)
      width: 0
    &:hover
      &::before
        transition: all .25s ease-in-out
        background: #004666
        left: 50%
        transform: translateX(-50%)
        width: 100%

.searchingBox
  margin-bottom: 80px
  position: relative
  &__input
    font-size: 18px
    line-height: 24px
    border: 1px solid #D8D8D8
    height: 40px
    display: flex
    align-items: center
    width: 100%
    color: #A8ADB3
    padding-left: 13px
    outline: none
  &__btnSearch
    position: absolute
    right: 0
    top: 50%
    right: 5px
    margin-top: -10px
    background: url('/svg/icon_search.svg') no-repeat center
    width: 16px
    height: 17px
    background-size: cover
  &_marg_min
    margin-bottom: 24px

.filterBoxWrapper
  display: flex
  justify-content: flex-start
  margin-bottom: 19px
.filterBox
  max-width: 300px
  width: 100%
  margin-right: 20px
  &__selectOuter
    position: relative
  &__select
    max-width: 300px
    width: 100%
    padding-left: 5px
    font-size: 18px
    line-height: 28px
    color: #A8ADB3
    cursor: pointer
    outline: none
    height: 44px
    border: 1px solid #D8D8D8
    appearance: none
    option
      font-size: 18px
      line-height: 28px
  &__selectIcon
    position: absolute
    right: 19px
    top: 50%
    margin-top: -2px

.rowPdf
  display: flex
  justify-content: space-between
  align-items: center
  background: #F2F2F2
  border: 2px solid #F2F2F2
  padding-right: 28px
  margin-bottom: 17px
  &_marg_no
    margin: 0
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    width: 100%
    padding: 29px
    box-sizing: border-box
  &__btn
    font-size: 15px
    line-height: 19px
    text-transform: uppercase
    color: #004666
    display: inline-block
    background: #66E4EE
    padding: 13px 42px
    width: 122px
.separatorWrapper
  display: flex
  justify-content: center
  align-items: center
  padding: 60px 0
  &_productDoc
    margin-bottom: 17px
  &_financialStatements
    padding: 48px 0
    margin-bottom: 25px
.separator
  width: 60px
  height: 4px
  background: #004666

.accordionBoxWrapper

.accordionRow
  &__clickRow
    display: flex
    justify-content: space-between
    align-items: center
    height: 59px
    border-top: 1px solid #004666
    padding-right: 12px
    cursor: pointer
  &__text
    font-size: 18px
    line-height: 28px
    color: #004666
  &__icon
  &__contentWrapper
  &:last-child
    border-bottom: 1px solid #004666
.officialInformation
  &__row
    display: flex
    justify-content: space-between
    border-bottom: 1px solid rgba(76, 83, 86, 0.3)
    padding-top: 15px
    padding-bottom: 15px
    &:first-child
      border-top: 1px solid rgba(76, 83, 86, 0.3)
  &__nameCol
    width: 30%
  &__name
    font-size: 18px
    line-height: 28px
    color: #004666
  &__textCol
    width: 70%
    padding-left: 100px
    box-sizing: border-box
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    margin-bottom: 18px
    &_marg_no
      margin-bottom: 0
  &__link
    font-size: 18px
    line-height: 28px
    color: #004666
  &__list
    padding-left: 12px
    margin-bottom: 28px
  &__item
    font-size: 18px
    line-height: 28px
    position: relative
    &::after
      content: ""
      width: 5px
      height: 5px
      position: absolute
      top: 50%
      left: -10px
      border-radius: 3px
      background:#4C5356

.qualificationInfoWrapper
  margin-bottom: 60px

.qualificationInfo
  margin-bottom: 14px
  &__header
    font-size: 18px
    line-height: 28px
    color: #004666
  &__text
    font-size: 18px
    line-height: 28px
    color: #4C5356
    &_margin_display
      margin-bottom: 16px

.rowPdfWrapper
  padding: 37px 0 0
  &_marg_display
    margin-bottom: 79px

.productDoc
  padding: 0