.footerMain
  background: #424242
  color: #ffffff
  &__topBox

.topFBox
  height: 73px
  display: flex
  align-items: center
  justify-content: flex-start
  border-bottom: 1px solid #ffffff
  &__iconBox
    
  &__link
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
    padding-left: 26px
    margin-left: 21px
    position: relative
    &:before
      content: ""
      position: absolute
      top: 50%
      margin-top: -4px
      left: 0
      width: 7px
      height: 12px
      background: url('/svg/icon_breadcr_footer.svg') no-repeat
      background-position: 50%
      background-size: cover

.footerContent
  display: flex
  padding: 40px 0
  &__column
    width: 25.5%
    display: flex
    &_width
      &_short
        width: 20%
    &_phone
      width: 28.5%
      justify-content: flex-end
  &__list
  &__item
    margin-bottom: 11px
    font-weight: 400
  &__link
    color: #ffffff
    font-size: 15px
    line-height: 19px
  &__phoneBox
  &__phone
    font-size: 15px
    line-height: 19px
  &__bottom
    padding: 11px 0 19px 0
    border-bottom: 1px solid #ffffff
  &__copyright

.footerBottom
  &__nav  
  &__navList
    display: flex
  &__navItem
    margin-right: 3.5%
  &__navLink
    font-size: 15px
    line-height: 19px
    color: #ffffff
  
.copyright
  &__text
    font-size: 13px
    line-height: 20px
    padding: 18px 0
