.contentMain


.mainLogo
  position: relative
  width: 180px
  height: 108px
  margin-right: 43px;
  display: flex
  align-items: center
  justify-content: center
  align-self: baseline
  background-image: linear-gradient(45deg,#003a58,#007392)
        

.b-headerBox
  height: 68px
  background-color: hsla(0,0%,100%,.6);
  position: relative
  z-index: 10
  color: #004666
  text-transform: uppercase
  font-size: 15px
  line-height: 19px
  text-indent: 0.5px
  align-items: center
  
  
.b-headerBoxImage
  margin-top: -68px
  position: relative

.dropMenuLink
  display: flex
  cursor: pointer
  

.dropMenuLink
  &__dropMenuLink
  &__svg
    margin-right: 8px
  &__name
    

.headerLink
  font-size: 15px
  line-height: 19px
  align-self: center
  
.headerInterface
  display: flex
  align-items: center
  &__search
    display: flex
    cursor: pointer
  &__personal
    display: flex
    cursor: pointer
    margin-left: 34px
  &__navigation
    display: flex
    cursor: pointer
    margin-left: 37px

.mainHeader
  &__logoWrapper
    display: flex
    align-items: center

.headerBox
  display: flex
  justify-content: space-between
  height: 100%

.phoneBox
  display: flex
  flex-direction: column
  justify-content: center
  margin-left: 40px

.phoneBox
  &__largeTxt
    text-align: center
    line-height: 23px
  &__smallTxt
    font-size: 10px
    line-height: 13px
    text-align: center
  
.mainNavigation
  &__icon
    margin-left: 10px


.headerSvg
  margin-left: 9px

.headerBoxImage
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding-top: 160px
  &__header
    font-size: 48px
    line-height: 56px
    color: #ffffff
    background: rgba(0, 70, 102, 0.7)
    display: inline-block
    padding: 10px 16px
    



