// .container
//   width: 90%
//   margin: 0 auto
//   //max-width: 1380px
//   max-width: 1326px

//   +media($screen-md)
//     width: 88%

//   +media($screen-lg)
//     width: 95.6944444444%

//   +media(1500px)
//     max-width: 1380px

+media(1024px)
  .inner
    box-sizing: border-box
    position: relative
    // display: flex
    max-width: 1200px
    margin: 0 auto
    height: 100%
    &_with    
      &_large
        max-width: 1284px
      &_small
        max-width: 1059px
    &_listConditions
      max-width: 1059px
    &_interestRates
      max-width: 1059px
    &_insuranceTerms
      max-width: 1059px
      padding-bottom: 100px
    &_news
      max-width: 1059px