//
  @font-face
    font-family: Lora
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url('/fonts/lora-400.woff2') format('woff2'), url('/fonts/lora-400.woff') format('woff')

  @font-face
    font-family: Montserrat
    font-style: normal
    font-weight: 500
    font-display: swap
    src: url('/fonts/montserratd.ttf') format('woff2'), url('/fonts/montserrat.ttf') format('woff')

  @font-face
    font-family: Montserrat
    font-style: normal
    font-weight: 600
    font-display: swap
    src: url('/fonts/montserrat-600.woff2') format('woff2'), url('/fonts/montserrat-600.woff') format('woff')

  @font-face
    font-family: Montserrat
    font-style: normal
    font-weight: 700
    font-display: swap
    src: url('/fonts/montserrat-700.woff2') format('woff2'), url('/fonts/montserrat-700.woff') format('woff')
  
  @font-face
    font-family: VWAG TheSans
    font-style: normal
    font-weight: 700
    font-display: swap
    src: url('/fonts/VWAGTheSans-700-normal.woff2') format('woff2'), url('/fonts/VWAGTheSans-700-normal.woff') format('woff')

  @font-face
    font-family: VWAG TheSans
    font-style: normal
    font-weight: 400
    font-display: swap
    src: url('/fonts/VWAGTheSans-400-normal.woff2') format('woff2'), url('/fonts/VWAGTheSans-400-normal.woff') format('woff')
