\:root
  --vh: 1vh

#__nuxt,
#__layout,
#app
  min-height: 100vh
  min-height: calc((var(--vh, 1vh) * 100))
  width: 100%
  display: flex
  flex-direction: column

.body-lock
  overflow: hidden

  +m('fixed-mobile')
    position: fixed

    @media (orientation: landscape) and (min-width: $screen-sm)
      position: static

    +media($screen-lg)
      position: static

@keyframes left-col-account
  from
    opacity: 0
    transform: translate3d(-50px, 0, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)

@keyframes animation-rotate
  100%
    transform: rotate(360deg)

@keyframes grow-shrink
  25%
    transform: scale(1.2)

  50%
    transform: scale(0.8)

  75%
    transform: scale(1.1)

  100%
    transform: scale(1)

@keyframes progress
  0%
    stroke-dasharray: 0 100

@keyframes height
  from
    height: 410px
  to
    height: 0

@keyframes progress-bar
  0%
    width: 0

@keyframes magnify
  0%
    transform: translate3d(0, 8%, 0)
  12.5%
    transform: translate3d(2%, 2%, 0)
  25%
    transform: translate3d(8%, 0, 0)
  37.5%
    transform: translate3d(14%, 2%, 0)
  50%
    transform: translate3d(16%, 8%, 0)
  62.5%
    transform: translate3d(14%, 14%, 0)
  75%
    transform: translate3d(8%, 16%, 0)
  87.5%
    transform: translate3d(2%, 14%, 0)
  100%
    transform: translate3d(0, 8%, 0)

@keyframes shine
  100%
    left: 200%

.list-enter-active, .list-leave-active
  transition: all 1s ease

.list-enter, .list-leave-to
  opacity: 0
  transform: translate3d(0, 30px, 0)

.address-list-enter-active, .address-list-leave-active
  transition: all 1s ease

.address-list-enter, .address-list-leave-to
  opacity: 0
  transform: translate3d(0, 30px, 0)

.address-list-leave-to
  transform: none
  display: none
  transition: none

.cart-enter-active, .cart-leave-active
  +media($screen-lg)
    transition: all 0.5s ease !important

    .cart-item__controls
      display: none

.cart-enter, .cart-leave-to
  +media($screen-lg)
    opacity: 0
    visibility: hidden

.cart-leave-active
  +media($screen-lg)
    position: absolute

.disable-hover,
.disable-hover *
  +media($screen-lg)
    pointer-events: none !important

.vb-invisible > .vb-dragger
  display: none

.vb-content
  height: auto !important

.vb
  flex-shrink: 0

.vb > .vb-dragger
  z-index: 5
  width: 1px
  right: 10px
  background-color: $color-white_dark

.vb > .vb-dragger > .vb-dragger-styler
  backface-visibility: hidden
  transform: rotate3d(0,0,0,0)
  transition: all 0.3s ease-in-out
  background-color: rgba(37, 40, 61, 0.32)
  border-radius: 20px
  height: 80px
  display: block
  width: 1px

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler
  background-color: $color-lightgrey

.vb > .vb-dragger:hover > .vb-dragger-styler
  margin: 0
  height: 100%

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler
  margin: 0
  height: 100%

.vb-content
  +media($screen-lg)
    overscroll-behavior: contain

.v-lazy-image
  //filter: blur(10px)
  opacity: 0
  transition: opacity 0.7s

.v-lazy-image-loaded
  //filter: blur(0)
  opacity: 1

.will-change
  will-change: transform, opacity

.component-fade-enter-active, .component-fade-leave-active
  +media($screen-lg)
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)

.component-fade-enter, .component-fade-leave-to
  +media($screen-lg)
    opacity: 0
    transform: translate3d(50px, 0, 0)

.component-fade-enter-to
  +media($screen-lg)
    transition-delay: 0.2s

.component-fade-leave-to
  +media($screen-lg)
    position: absolute
    width: 100%
    max-width: 600px

.showrooms-enter-active, .showrooms-leave-active
  +media($screen-lg)
    transition: all 1s ease

.showrooms-enter, .showrooms-leave-to
  +media($screen-lg)
    opacity: 0
    transform: translate3d(0, 30px, 0)

.infinity-loading .loading-spiral
  border: 2px solid $color-marsala !important
  border-right-color: $color-pink !important

@keyframes placeHolderShimmer
  0%
    background-position: -468px 0
  100%
    background-position: 468px 0


