html
  display: flex

body
  min-height: 100vh
  min-height: calc((var(--vh, 1vh) * 100))
  width: 100%
  display: flex
  flex-direction: column
  margin: 0
  font-size: $font-size-body
  line-height: $line-height-body
  font-weight: 500
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: none
  font-family: $font-family-main
  color: $color-text

img
  max-width: 100%
  height: auto

audio, canvas,
iframe, svg, video, img
  vertical-align: top

ul
  padding: 0
  margin: 0
  list-style: none

li
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none
  -webkit-tap-highlight-color: transparent

blockquote
  margin: 0

p
  margin: 0

button
  padding: 0
  border: none
  background-color: transparent
  cursor: pointer
  user-select: none
  -webkit-tap-highlight-color: transparent
  outline: none

figure
  margin: 0

textarea
  resize: none

::-moz-selection
  background: $color-marsala
  color: $color-white
  text-shadow: none

::selection
  background: $color-marsala
  color: $color-white
  text-shadow: none

input:required
  box-shadow: none

input::-ms-clear
  display: none

input
  -webkit-appearance: none
  appearance: none
  border-radius: 0
  box-shadow: none

input[type=search]
  -webkit-appearance: none

input[type=submit]
  border: none
  padding: 0
  cursor: pointer
  user-select: none
  -webkit-tap-highlight-color: transparent
  outline: none

label
  -webkit-tap-highlight-color: transparent

picture
  display: inline-block


