<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_padding_bottom
      .inner
        ul.breadcrumbs
          li.breadcrumbs__list
            a(href="#").breadcrumbs__link Главная
          li.breadcrumbs__list
            a(href="#").breadcrumbs__link О банке
        .contentArticleList
          h2.headerSection ООО «Фольксваген Банк РУС»
          ul.articleList
            li.articleList__item ООО «Фольксваген Банк РУС» представляет в России международный концерн Volkswagen Financial Services AG.
            li.articleList__item Концерн Volkswagen Financial Services AG представлен более чем в 51 стране мира в форме кредитных организаций, лизинговых и страховых компаний.
            li.articleList__item Деятельность ООО «Фольксваген Банк РУС» соответствует глобальной стратегии концерна Volkswagen: увеличение продаж автомобилей, производимых концерном Volkswagen, и предложение Дилерам и клиентам концерна Volkswagen широкого спектра финансовых продуктов.
            li.articleList__item Деятельность ООО «Фольксваген Банк РУС» осуществляется в соответствии с лицензией Банка России № 3500 от 20 августа 2012 г.
    section.sectionBlock.sectionBlock_color_gray
      .inner.inner_with_large
        h2.headerSection О Банке
        .boxDvContent
          .dvBox.boxDvContent__dvBox
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Официальные сведения
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн Volkswagen Financial Services AG.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Реквизиты банка
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн Volkswagen Financial Services AG.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Финансовая отчетность
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн Volkswagen Financial Services AG.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Для инвесторов
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн Volkswagen Financial Services AG.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Информация о квалификации и об опыте работы руководства ООО
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Внутренние документы
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Раскрытие регуляторной информации
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России  Volkswagen Financial Services AG.
            .dvBox__item
              .dvBox__iconWrapper
                .dvBox__iconBox
                  img(src="/svg/icon_car.svg").dvBox__icon
              .dvBox__textBox
                .dvBox__header Внутренние документы
                .dvBox__text ООО «Фольксваген Банк РУС» представляет в России международный концерн.
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
            .dvBox__item.dvBox__item_hidden
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'AboutBank'
};
</script>
