<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_carouselNav
      .inner
        .carouselNav
          ul.carouselNav__list
            li.carouselNav__item
              a(href="").carouselNav__link Официальные сведения
            li.carouselNav__item
              a(href="").carouselNav__link Реквизиты банка
            li.carouselNav__item
              a(href="").carouselNav__link Финансовая отчетность
            li.carouselNav__item
              a(href="").carouselNav__link Для инвесторов
            li.carouselNav__item
              a(href="").carouselNav__link Информация о квалификации и об опыте работы руководства
    section.sectionContent.sectionContent_breadcrumbs
      .inner
        ul.breadcrumbs
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link О Банке
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Для инвесторов
    section.sectionContent.sectionContent_forInvestors
        .inner.inner_with_small
          form(action="/").searchingBox.searchingBox_marg_min
            input(type="text", value="Поиск по документам").searchingBox__input
            button(type="submit").searchingBox__btnSearch
          .accordionBoxWrapper
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Устав Банка
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Существенные факты
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Облигационные займы
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Финансовая отчетность по стандартам МСФО
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Презентации
                img(src="/svg/icon_select.svg").accordionRow__icon
              .accordionRow__contentWrapper
                .rowPdf
                  .rowPdf__text Volkswagen Financial Services AG: презентация для инвесторов. Июнь 2015 (англ.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text Volkswagen Financial Services AG: презентация для инвесторов. Июнь 2015 (рус.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text ООО «Фольксваген Банк РУС»: Корпоративная презентация. Июнь 2015 (англ.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text ООО «Фольксваген Банк РУС»: Корпоративная презентация. Июнь 2015 (рус.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text ООО «Фольксваген Груп РУС»: корпоративная презентация (рус.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text Volkswagen Financial Services AG: презентация для инвесторов (англ.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text Volkswagen Financial Services AG: презентация для инвесторов (англ.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text ООО «Фольксваген Банк РУС»:  Дебютный выпуск облигаций / Корпоративная презентация (англ.)
                  a(href="#").rowPdf__btn Открыть PDF
                .rowPdf
                  .rowPdf__text ООО «Фольксваген Банк РУС»:  Дебютный выпуск облигаций / Корпоративная презентация (рус.)
                  a(href="#").rowPdf__btn Открыть PDF
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Устав Банка
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Существенные факты
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Облигационные займы
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Финансовая отчетность по стандартам МСФО
                img(src="/svg/icon_select.svg").accordionRow__icon
            .accordionRow
              .accordionRow__clickRow
                .accordionRow__text Презентации
                img(src="/svg/icon_select.svg").accordionRow__icon
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'Forinvestors'
};
</script>
