<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_carouselNav
      .inner
        .carouselNav
          ul.carouselNav__list
            li.carouselNav__item
              a(href="").carouselNav__link Официальные сведения
            li.carouselNav__item
              a(href="").carouselNav__link Реквизиты банка
            li.carouselNav__item
              a(href="").carouselNav__link Финансовая отчетность
            li.carouselNav__item
              a(href="").carouselNav__link Для инвесторов
            li.carouselNav__item
              a(href="").carouselNav__link Информация о квалификации и об опыте работы руководства
    section.sectionContent.sectionContent_breadcrumbs
      .inner
        ul.breadcrumbs
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link О Банке
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Внутренние документы
    section.sectionContent.sectionContent_internalDocuments
      .inner.inner_with_small
        form(action="/").searchingBox
          input(type="text", value="Поиск по документам").searchingBox__input
          button(type="submit").searchingBox__btnSearch
        .rowPdfWrapper
          .rowPdf
            .rowPdf__text Общие условия закупок ООО «Фольксваген Банк РУС»
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Кодекс поведения Бизнес-партнеро
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Кодекс поведения для партнеров
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Политика обработки и защиты персональных данных
            a(href="#").rowPdf__btn Открыть PDF
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'Internaldocuments'
};
</script>
