<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_breadcrumbs
      .inner
        ul.breadcrumbs
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Философия
    section.sectionContent.sectionContent_philosofy
      .inner
        .headerSectionWrapper
          h2.headerSection.headerSection_philosofy Мы хотим быть Вашим банком, Вашим партнером во всех Ваших делах и начинаниях!
        .listConditionsWrapper
          .listConditions.listConditions_column
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Сегодня Volkswagen Bank GmbH - автомобильный банк Европы № 1.
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Индивидуальный подход к каждому клиенту, стремление к совершенству помогли Volkswagen
          .listConditions.listConditions_column.listConditions_column_rght
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Bank GmbH быть одним из ведущих автомобильных Банков мира.
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Доверие 932 100 клиентов с объемом депозитов более 16,1 млрд. евро является доказательством того, что мы находимся на верном пути.
    section.sectionContent.sectionContent_ourValues
      .inner
        h2.headerSection Наши ценности
        .ourValuesWrapper
          .ourValues
            .ourValues__colIcon
              .ourValues__iconBox
                .ourValues__icon 1
            .ourValues__colName
              .ourValues__name Честность и компетентность
            .ourValues__colArticle
              .ourValues__article
                | Квалификация и компетентность нашего коллектива имеют
                | для нас важнейшее значение! Достижение первоклассных результатов
                | возможно лишь в том случае, если мы будем предъявлять высокие требования
                | к самим себе. Мы гарантируем высокое качество предлагаемых нами услуг.
          .ourValues
            .ourValues__colIcon
              .ourValues__iconBox
                .ourValues__icon 2
            .ourValues__colName
              .ourValues__name Инновационный подход
            .ourValues__colArticle
              .ourValues__article
                | Volkswagen Bank в течение многих десятилетий опирается на экспертные знания.
                | Клиенты могут положиться на наши продукты и услуги, отражающие богатый опыт компании.
                | Использование инновационного подхода помогает нам разрабатывать высокотехнологичные схемы
                | финансирования с привлекательными условиями.
          .ourValues
            .ourValues__colIcon
              .ourValues__iconBox
                .ourValues__icon 3
            .ourValues__colName
              .ourValues__name Создание ценностей
            .ourValues__colArticle
              .ourValues__article
                | Исключительной ценностью, которую мы передаем нашим клиентам, является свобода выбора
                | в отношении финансовых и технических показателей. Во многих случаях такая свобода
                | становится возможной благодаря нашим продуманным финансовым продуктам.
          .ourValues
            .ourValues__colIcon
              .ourValues__iconBox
                .ourValues__icon 4
            .ourValues__colName
              .ourValues__name Постоянство
            .ourValues__colArticle
              .ourValues__article
                | Мы стремимся к установлению с нашими клиентами долгосрочных взаимоотношений. Мы считаем
                | основой для обеспечения удовлетворенности клиентов и долгосрочного успеха честное поведение
                | и открытый диалог. Удовлетворенность клиентов и успех предприятия – это ценности,
                | которые нас объединяют и связывают.
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'AboutBank'
};
</script>
