<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_navUnderHeader
      .inner
        .navUnderHeader
          ul.navUnderHeader__list
            li.navUnderHeader__item
              a(href="#").navUnderHeader__link Кредит на приобретение нового автомобиля
            li.navUnderHeader__item
              a(href="#").navUnderHeader__link Кредит с остаточным платежом
            li.navUnderHeader__item
              a(href="#").navUnderHeader__link Кредит на автомобиль с пробегом
            li.navUnderHeader__item
              a(href="#").navUnderHeader__link Корпоративное кредитование
    section.sectionContent.sectionContent_navUSmallUnderHeader
      .inner
        .navSmallHeader
            ul.navSmallHeader__list
              li.navSmallHeader__item
                a(href="#").navSmallHeader__link Условия кредита
              li.navSmallHeader__item
                a(href="#").navSmallHeader__link Требования
              li.navSmallHeader__item
                a(href="#").navSmallHeader__link Где оформить
              li.navSmallHeader__item
                a(href="#").navSmallHeader__link Погашение
              li.navSmallHeader__item
                a(href="#").navSmallHeader__link Документы
    section.sectionContent.sectionContent_sliderPromo
      .inner
        .sliderPromoWrapper
          .sliderPromo
            img(src="/img/product_conditions/slider_condition.jpg").sliderPromo__img
            .sliderPromo__headerBox
              .sliderPromo__header.sliderPromo__header_top Приобретайте автомобили
              .sliderPromo__header.sliderPromo__header_bottom Volkswagen на выгодных условиях
              a(href="#").buttonBn.sliderPromo__buttonBn Узнать подробнее
            img(src="/svg/icon_carousel_prev.svg").sliderPromo__arrow.sliderPromo__arrowPrev
            img(src="/svg/icon_carousel_next.svg").sliderPromo__arrow.sliderPromo__arrowNext
    section.sectionContent.sectionContent_listConditions
      .inner.inner_listConditions
        h2.headerSection Основные условия
        .listConditionsWrapper
          .listConditions.listConditions_column
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Валюта кредита: Рубли РФ
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Минимальная сумма кредита:<br> 120 000 рублей
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Максимальная сумма кредита:<br> 4 000 000 рублей
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Минимальный первоначальный взнос: 15% от стоимости автомобиля
          .listConditions.listConditions_column.listConditions_column_rght
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Минимальный остаточный платеж: 20% от стоимости автомобиля
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Срок кредита:<br> от 12 до 36 месяцев
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Требования к автомобилю: произведен в 2018 или в 2019 году
            .listConditions__item
              .listConditions__iconOuter
                .listConditions__iconBox
                  img(src="/svg/icon_list.svg").listConditions__icon
              .listConditions__textWrapper
                .listConditions__text Пакет документов: При ПВ 30% и более возможно предоставление, как стандартного пакета документов, так и 2 документов. При ПВ менее 30% предоставление стандартного пакета документов обязательно.
    section.sectionContent.sectionContent_interestRates
      .inner.inner_interestRates
        .headerSectionWrapper
          h2.headerSection.headerSection_with_small Процентные ставки первоначального взноса
        .interestRatesWrapper
          .interestRate
            .interestRate__column.interestRate__column_lft
              .interestRate__header Cрок кредита (мес)
              .interestRate__row
                .interestRate__text 12 мес.
              .interestRate__row
                .interestRate__text 13-24 мес.
              .interestRate__row
                .interestRate__text 25-36 мес.
            .interestRate__column.interestRate__column_rght
              .interestRate__header Максимальный остаточный платеж
              .interestRate__row
                .interestRate__text 55%
              .interestRate__row
                .interestRate__text 45%
              .interestRate__row
                .interestRate__text 40%
          .interestRate.interestRate_rght
            .interestRate__column.interestRate__column_lft
              .interestRate__header Взнос от 15%
              .interestRate__row
                .interestRate__text 15,3%/12,3%*
              .interestRate__row
                .interestRate__text 17,2%/14,3%*
              .interestRate__row
                .interestRate__text 17,2%/16,3%*
            .interestRate__column.interestRate__column_rght
              .interestRate__header Максимальная сумма кредита
              .interestRate__row
                .interestRate__text 3 600 000
              .interestRate__row
                .interestRate__text 3 800 000
              .interestRate__row
                .interestRate__text 4 000 000
            .interestRate__clarification * При оформлении договора личного страхования, заключаемому в отношении заемщика.
    section.sectionContent.sectionContent_insuranceTerms
      .inner.inner_insuranceTerms
        .insuranceTerms
          h6.insuranceTerms__header Условия страхования:
          ul.insuranceTerms__list
            li.insuranceTerms__item Оформление страхового полиса КАСКО обязательно в течение всего срока кредитования.
            li.insuranceTerms__item Страховая премия КАСКО за первый год страхования может быть включена в сумму кредита.
            li.insuranceTerms__item В настоящее время Банк принимает полисы любых страховых компаний; подробности узнавайте в салонах дилеров.
            li.insuranceTerms__item Кредит предоставляется только на новые автомобили Audi, SKODA, Volkswagen (текущего и предыдущего года выпуска), при этом обязательства заемщика по кредиту обеспечиваются залогом приобретаемого автомобиля.
          .insuranceTerms__valDate Условия действительны с 01 июля 2019 года по 31 июля 2019 года и могут быть изменены Банком.
          .insuranceTerms__article
            | Данное предложение носит информационный характер и не является офертой.
            | ООО «Фольксваген Банк РУС» вправе вносить изменения в условия кредитования,
            | тарифы, состав услуг и параметры банковских продуктов по собственному усмотрению.
            | Новые условия кредитования обратной силы не имеют, действуют с даты, указанной в
            | каждом конкретном предложении и распространяются только на кредитные договоры,
            | заключенные после даты изменения  ООО «Фольксваген Банк РУС» соответствующих условий.
          .customLinkWrapper
            a(href="#").customLink Требования к полису КАСКО
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'AboutBank'
};
</script>
