<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_carouselNav
      .inner
        .carouselNav
          ul.carouselNav__list
            li.carouselNav__item
              a(href="").carouselNav__link Официальные сведения
            li.carouselNav__item
              a(href="").carouselNav__link Реквизиты банка
            li.carouselNav__item
              a(href="").carouselNav__link Финансовая отчетность
            li.carouselNav__item
              a(href="").carouselNav__link Для инвесторов
            li.carouselNav__item
              a(href="").carouselNav__link Информация о квалификации и об опыте работы руководства
    section.sectionContent.sectionContent_breadcrumbs
      .inner
        ul.breadcrumbs
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link О Банке
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Информация о квалификации и об опыте работы руководства
    section.sectionContent.sectionContent_qualificationInfo
      .inner.inner_with_small
        .qualificationInfoWrapper
          .qualificationInfo
            .qualificationInfo__header Единоличный исполнительный орган (Председатель Правления)
            .qualificationInfo__text Рогов Александр Юрьевич
          .rowPdfWrapper
            .rowPdf.rowPdf_marg_no
              .rowPdf__text Единоличный исполнительный орган - Информация о квалификации и опыте
              a(href="#").rowPdf__btn Открыть PDF
        .qualificationInfoWrapper
          .qualificationInfo
            .qualificationInfo__header Наблюдательный совет
            .qualificationInfo__text 1. Мерготт Мартин Манфред - Председатель Наблюдательного совета
            .qualificationInfo__text 2. Зантельманн Ларс Хеннер - Член Наблюдательного совета
            .qualificationInfo__text 3. Озегович Маркус - Член Наблюдательного совета
            .qualificationInfo__text 4. Вельтер Патрик Ортвин - Член Наблюдательного совета
          .rowPdfWrapper
            .rowPdf.rowPdf_marg_no
              .rowPdf__text Наблюдательный совет - Информация о квалификации и опыте
              a(href="#").rowPdf__btn Открыть PDF
        .qualificationInfoWrapper
          .qualificationInfo
            .qualificationInfo__header Коллегиальный исполнительный орган (Правление)
            .qualificationInfo__text 1. Рогов Александр Юрьевич - Председатель Правления
            .qualificationInfo__text 2. Рязанцева Ольга Николаевна - Заместитель Председателя Правления, Член Правления
            .qualificationInfo__text 3. Камардина Лариса Николаевна - Заместитель Председателя Правления, Член Правления
          .rowPdfWrapper
            .rowPdf.rowPdf_marg_no
              .rowPdf__text Коллегиальный исполнительный орган - Информация о квалификации и опыте
              a(href="#").rowPdf__btn Открыть PDF
        .qualificationInfoWrapper
          .qualificationInfo
            .qualificationInfo__header Главный бухгалтер
            .qualificationInfo__text.qualificationInfo__text_margin_display Лебедева Ольга Евгеньевна
            .qualificationInfo__header Заместитель Главного бухгалтера
            .qualificationInfo__text Ляшкова Наталья Павловна
          .rowPdfWrapper
            .rowPdf.rowPdf_marg_no
              .rowPdf__text Главный бухгалтер, Заместитель главного бухгалтера - Информация о квалификации и опыте
              a(href="#").rowPdf__btn Открыть PDF
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'Qualificationinfo'
};
</script>
