<template lang="pug">
  main.contentMain
    section.sectionContent.sectionContent_carouselNav
      .inner
        .carouselNav
          ul.carouselNav__list
            li.carouselNav__item
              a(href="").carouselNav__link Официальные сведения
            li.carouselNav__item
              a(href="").carouselNav__link Реквизиты банка
            li.carouselNav__item
              a(href="").carouselNav__link Финансовая отчетность
            li.carouselNav__item
              a(href="").carouselNav__link Для инвесторов
            li.carouselNav__item
              a(href="").carouselNav__link Информация о квалификации и об опыте работы руководства
    section.sectionContent.sectionContent_breadcrumbs
      .inner
        ul.breadcrumbs
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Главная
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link О Банке
            li.breadcrumbs__list
              a(href="#").breadcrumbs__link Раскрытие регуляторной информации
    section.sectionContent.sectionContent_regulatoryInfo
      .inner.inner_with_small
        h3.headerMiddle.headerMiddle_pos_lft Основные характеристики капитала
        .rowPdfWrapper.rowPdfWrapper_marg_display
          .rowPdf
            .rowPdf__text Общие условия закупок ООО «Фольксваген Банк РУС»
            a(href="#").rowPdf__btn Открыть PDF
        h3.headerMiddle.headerMiddle_pos_lft Информация о принимаемых рисках
        .rowPdfWrapper
          .rowPdf
            .rowPdf__text Информация о принимаемых рисках, процедурах их оценки, управления рисками и капиталом на 01 января 2019 года (дата раскрытия 18.06.2019г.)
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Информацию о принимаемых рисках, процедурах их оценки, управления рисками и капиталом за I квартал 2019 года (дата раскрытия 31.05.2019г.)
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Информация о принимаемых рисках, процедурах их оценки, управления рисками и капиталом за III квартал 2018 года (дата раскрытия 21.11.2018г.)
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Информация о принимаемых рисках, процедурах их оценки, управления рисками и капиталом за II квартал 2018 года (дата раскрытия 22.08.2018г.)
            a(href="#").rowPdf__btn Открыть PDF
          .rowPdf
            .rowPdf__text Информация о принимаемых рисках, процедурах их оценки, управления рисками и капиталом за II квартал 2018 года (дата раскрытия 22.08.2018г.)
            a(href="#").rowPdf__btn Открыть PDF
</template>
<script>
// import { get } from '~/utils/api';
// const data = await get('api/initial-data');
export default {
  name: 'Regulatoryinfo'
};
</script>
