<template lang="pug">
  #app
    Header
    nuxt
    Footer
</template>
<script>
import Header from '@/components/partials/Header';
import Footer from '@/components/partials/Footer';

export default {
  components: { Header, Footer }
};
</script>
<style lang="sass">
  @import "~assets/sass/main"
</style>
