<template lang="pug">
  footer.footerMain
    .inner
      .topFBox.footerMain__topFBox
        a(href="#").topFBox__iconBox
          img(src="/svg/icon_footer_home_link.svg").topFBox__icon
        a(href="#").topFBox__link О Банке
      .footerContent
        .footerContent__column
          ul.footerContent__list
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Главная
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Новости и акции
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Контакты
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Философия
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold История
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Карьера
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Часто задаваемые вопросы
            li.footerContent__item
              a(href="#").footerContent__link.footerContent__link_bold Кредитный калькулятор
        .footerContent__column
          ul.footerContent__list
            li.footerContent__item
              a(href="#").footerContent__link Продукты
            li.footerContent__item
              a(href="#").footerContent__link Кредит на приобретение нового автомобиля
            li.footerContent__item
              a(href="#").footerContent__link Кредит с остаточным платежом
            li.footerContent__item
              a(href="#").footerContent__link Кредит на автомобиль с пробегом
            li.footerContent__item
              a(href="#").footerContent__link Корпоративное  кредитование
            li.footerContent__item
              a(href="#").footerContent__link Документы
        .footerContent__column.footerContent__column_width_short
          ul.footerContent__list
            li.footerContent__item
              a(href="#").footerContent__link О Банке
            li.footerContent__item
              a(href="#").footerContent__link Официальные сведения
            li.footerContent__item
              a(href="#").footerContent__link Реквизиты банка
            li.footerContent__item
              a(href="#").footerContent__link Финнасовая отчетность
            li.footerContent__item
              a(href="#").footerContent__link Для инвесторов
            li.footerContent__item
              a(href="#").footerContent__link Информация о квалификации и об опыте работы руководства
            li.footerContent__item
              a(href="#").footerContent__link Внутренние документы
            li.footerContent__item
              a(href="#").footerContent__link Раскрытие регуляторной информации
        .footerContent__column.footerContent__column_phone
          .footerContent__phoneBox
            .footerContent__phone 8-800-700-75-57
            .footerContent__phone 8-495-775-75-57
      .footerContent__bottom
        .footerBottom.footerContent__footerBottom
          .footerBottom__nav
            ul.footerBottom__navList
              li.footerBottom__navItem
                a(href="#").footerBottom__navLink Политика конфиденциальности
              li.footerBottom__navItem
                a(href="#").footerBottom__navLink Защита клиентов
              li.footerBottom__navItem
                a(href="#").footerBottom__navLink Соглашение с Cookies
              li.footerBottom__navItem
                a(href="#").footerBottom__navLink Карта сайта
      .copyright.footerContent__copyright
        .copyright__text Дочерние компании Volkswagen Financial Services AG и его дочерняя компания Volkswagen Bank GmbH предоставляют различные услуги под общим названием «Volkswagen Financial Services», включая банковские услуги (через Volkswagen Bank GmbH), лизинговые услуги (через Volkswagen Leasing GmbH), Страховые услуги (Volkswagen Versicherung AG, Volkswagen Autoversicherung AG) и мобильные услуги (в том числе Volkswagen Leasing GmbH). Кроме того, страховые продукты других поставщиков предоставляются через посредников.
</template>
<script>
export default {
  name: 'Footer'
};
</script>
<style lang="sass">
</style>
