<template lang="pug">
  header.mainHeader
    .b-headerBox
      .inner
        .headerBox
          .mainHeader__logoWrapper
            a(href="#").mainLogo
              img(src="/logo.svg").mainLogo__img
            .dropMenuLink.mainHeader__dropMenuLink
              img(src="/svg/ar_drp_header.svg").headerSvg.dropMenuLink__svg
              .headerLink.dropMenuLink__name Кредитование
          .headerInterface
            .search.headerInterface__search
              .search__name.headerLink Поиск
              img(src="/svg/icon_searching.svg").headerSvg.search__icon
            .personalArea.headerInterface__personal
              .personalArea__name.headerLink Личный кабинет
              img(src="/svg/icon_personal.svg").headerSvg.personalArea__icon
            .mainNavigation.headerInterface__navigation
              .mainNavigation__name.headerLink Меню
              img(src="/svg/icon_navig.svg").headerSvg.mainNavigation__icon
            .phoneBox
              .phoneBox__largeTxt 8 800 700 75 57
              .phoneBox__smallTxt Горячая линия
    section.b-headerBoxImage
      .headerBoxImage
        .inner
          .headerBoxImage__header О банке
      img(src='/img/header_bg.jpg').boxImage
</template>
<script>
export default {
  name: 'Header'
};
</script>
<style lang="sass">
</style>
